@import "../../styles/variables.scss";

.profile {
  display: grid;
  grid-template-columns: 64px repeat(3, 1fr);
  grid-gap: 0rem 1rem;
  overflow-x: hidden;
  font-family: $pt-mono;
  --profile-theme-color: var(--gray);
  font-size: 16px;
  border-radius: 20px;
  border: 5px solid #fce0d7;
  text-decoration: none;

  svg {
    color: var(--profile-theme-color);
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
    &:focus {
      color: white;
      background-color: var(--profile-theme-color);
      outline: none;
      border-radius: 1px;
      box-shadow: var(--profile-theme-color) 0px 0px 0px 1px;
    }
  }
  @media (min-width: $non-mobile) {
    font-size: 14px;
    @supports not (display: grid) {
      width: 50%;
      padding: 16px;
      display: inline-block;
    }
  }

  @media (min-width: $desktop) {
    @supports not (display: grid) {
      width: 25%;
      display: inline-block;
    }
    display: flex;
    flex-direction: column;
  }
}

.image {
  width: 100%;
  height: 195px;
  background-size: cover;
  background-position: 50%;
}

.card {
  background-color: #fff;
  padding: 15px;
}

.name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  font-weight: 600;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  align-self: center;
  font-size: 16px;
  padding: 0px;
  color: var(--profile-theme-color);
  @media (min-width: $desktop) {
    align-self: unset;
    font-size: 16px;
  }
}

.item {
  padding-top: 10px;
  font-size: 14px;
  color: $primary-purple;

  svg {
    margin-right: 5px;
    position: relative;
    top: 2px;
    color: $primary-purple;
  }
}
.profile:hover {
  border: 5px solid #f5bba6;
}

.linkText {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  align-items: center;
  line-height: 0;
  text-transform: initial;
  font-family: $pitch;
}
