@import "../../styles/variables.scss";

.profile {
  background-color: #fff;
  display: grid;
  grid-template-columns: 80px 1fr;
  overflow-x: hidden;
  font-family: $pt-mono;
  --profile-theme-color: #6362fc;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #fce0d7;
  text-decoration: none;

  transition: all 0.3s;

  svg {
    color: var(--profile-theme-color);
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
    &:focus {
      color: white;
      background-color: var(--profile-theme-color);
      outline: none;
      border-radius: 1px;
      box-shadow: var(--profile-theme-color) 0px 0px 0px 1px;
    }
  }
  @media (min-width: $non-mobile) {
    font-size: 14px;
    @supports not (display: grid) {
      width: 50%;
      padding: 16px;
      display: inline-block;
    }
  }

  @media (min-width: $desktop) {
    grid-gap: 0rem 1rem;
    @supports not (display: grid) {
      width: 25%;
      display: inline-block;
    }
    display: flex;
    flex-direction: column;
  }
}

.image {
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: 50%;

  @media (min-width: $desktop) {
    height: 195px;
  }
}

.card {
  flex: 1 1 auto;
  background-color: #fff;
  padding: 15px;
  padding-bottom: 10px;
}

.name {
  margin: 0;
  font-weight: 600;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  align-self: center;
  font-size: 16px;
  padding: 0px;
  color: var(--profile-theme-color);
  @media (min-width: $desktop) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: unset;
    font-size: 16px;
  }
}

.item {
  padding-top: 10px;
  font-size: 14px;
  color: $primary-purple;
  text-transform: capitalize;

  svg {
    margin-right: 5px;
    position: relative;
    top: 2px;
    color: $primary-purple;
  }
}
.profile:hover {
  box-shadow: 0 3px 3px -2px $secondary-orange;
}

.linkText {
  text-transform: initial;
  font-weight: 600;
  font-family: $pitch;
  position: relative;
  top: 1px;
}

.profileButtonContainer {
  flex: 0 1 auto;
  @media (max-width: $desktop - 1) {
    display: none;
  }
}
