@import "../../styles/variables.scss";

.profile {
  position: relative;
  background-color: #fff;
  display: grid;
  grid-template-columns: 120px 1fr;
  overflow-x: hidden;
  font-family: $pt-mono;
  --profile-theme-color: #6362fc;
  --profile-font-color: #000;
  font-size: 16px;
  border-radius: 20px;
  border: 3px hidden;
  text-decoration: none;
  box-shadow: 0px 3px 0px 0px rgba(69, 113, 177, 0.8);
  margin: 0px 0px 5px 0px;
  transition: all 0.05s;

  svg {
    color: var(--profile-theme-color);
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
    &:focus {
      color: white;
      background-color: var(--profile-theme-color);
      outline: none;
      border-radius: 1px;
      box-shadow: var(--profile-theme-color) 0px 0px 0px 1px;
    }
  }
  @media (min-width: $non-mobile) {
    font-size: 14px;
    @supports not (display: grid) {
      width: 50%;
      padding: 16px;
      display: inline-block;
    }
  }

  @media (min-width: $desktop) {
    grid-gap: 0rem 1rem;
    @supports not (display: grid) {
      width: 25%;
      display: inline-block;
    }
    display: flex;
    flex-direction: column;
  }
}

.image {
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: 50%;

  @media (min-width: $desktop) {
    height: 195px;
  }
}

.card {
  flex: 1 1 auto;
  background-color: #fff;
  padding: 15px;
  color: var(--profile-font-color);
}

.name {
  margin: 0;
  font-weight: 400;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  align-self: center;
  font-size: 16px;
  padding: 0px;
  @media (min-width: $desktop) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: unset;
    font-size: 16px;
  }
}

.item {
  padding-top: 10px;
  font-size: 14px;
  color: $primary-purple;
  text-transform: capitalize;

  svg {
    margin-right: 5px;
    position: relative;
    top: 2px;
    color: $primary-purple;
  }
}
.profile:hover,
.profile:focus {
  box-shadow: 0px 3px 0px 0px rgba(69, 113, 177, 1);
  margin: 2px 0px 3px 0px;
}
.profile:active {
  box-shadow: 0px 1px 0px 0px rgba(69, 113, 177, 1);
  margin: 4px 0px 1px 0px;
}

.profile:focus {
  outline: none;
  border: 3px solid rgba(69, 113, 177, 1);
}

.linkText {
  text-transform: initial;
  font-weight: 600;
  font-family: $pitch;
}

.profileButtonContainer {
  flex: 0 1 auto;
  @media (max-width: $desktop - 1) {
    display: none;
  }
}

.giftCardBadge,
.filterTag {
  padding: 5px;
  border-radius: 5px;
}

.giftCardBadge {
  position: absolute;
  top: 0;
  right: 0;
  background: #DF280C;
  color: #FFF;
  margin: 10px; 
}

.filterTags {
  display: flex;
  margin-top: 40px;
}

.filterTag {
  background: #FFEEB2;
  color: #3B477E;
  margin-right: 10px;
}