@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

$sidebar: 310px;
$non-mobile: 535px;
$desktop: 820px;
$s24: 24px;
$sidebarHeight: 208px;
$pt-mono: "PT Mono", Consolas, monaco, monospace;
$pitch: "Pitch Sans Web", Consolas, monaco, monospace;
$graphik: "Graphik Web", -apple-system, BlinkMacSystemFont, "avenir next", avenir,
  "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;

$sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue",
  helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;

$primary-purple: #6362fc;
$primary-orange: #fdeee5;
$secondary-orange: #f17f5c;