@import "../styles/variables.scss";

.container {
  overflow-x: hidden;
  font-family: $graphik;

  @media (min-width: $desktop) {
    display: flex;
  }
}

.main {
  position: static;
  overflow-y: scroll;
  background-color: var(--white);
  padding: 64px var(--page-shell-padding) 64px var(--page-shell-padding);
  transition: all 0.5s ease;
  width: 100%;
  color: $primary-purple;
  font-family: $pt-mono;
  @media (min-width: $desktop) {
    height: 100vh;
  }
}

.sidebar {
  overflow-y: scroll;
  background-color: var(--white);

  @media (min-width: $desktop) {
    min-width: $sidebar;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

h1.pageTitle {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
  color: $primary-purple;
}
h2.subheading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 18px;
  color: $primary-purple;
}

.aboutContainer {
  margin-bottom: 50px;
  max-width: 510px;
}

.about {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 16px;
  margin-bottom: 37px;
}

.imageContainer {
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: flex-end;

  .picture {
    width: calc(100vw + 120px);

    @media (min-width: $non-mobile) {
      width: 100%;
    }
  }
}

p > a {
  color: #E18B6C;
  font-weight: 400;
  text-decoration: underline;
}

ol {
  list-style: decimal!important;
  list-style-type: decimal!important;
  margin-left: 28px!important;
}
li {
  padding: 16px 0px 0px 16px !important;
}
