@import "../styles/variables.scss";

.container {
  overflow-x: hidden;
  font-family: $graphik;

  @media (min-width: $desktop) {
    display: flex;
  }
}

.main {
  position: static;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--white);
  padding: 64px var(--page-shell-padding) 64px var(--page-shell-padding);
  transition: all 0.5s ease;
  width: 100%;
  color: $primary-blue;
  font-family: $pt-mono;
  @media (min-width: $desktop) {
    height: 100vh;
  }
}

.sidebar {
  overflow-y: scroll;
  background-color: #3B477E;

  @media (min-width: $desktop) {
    min-width: $sidebar;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

h2.subheading {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.aboutContainer {
  max-width: 510px;
}

.about {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 50px;

  a {
    color: #3B477E;
  }
}