@import "../styles/variables.scss";

.container {
  overflow-x: hidden;
  font-family: $graphik;
  background-color: $primary-blue;
  @media (min-width: $desktop) {
    display: flex;
  }
}

.main {
  position: static;
  overflow-y: scroll;
  background-color: $primary-orange;
  padding: var(--page-shell-padding);
  transition: all 0.5s ease;
  width: 100%;
  @media (min-width: $desktop) {
    height: 100vh;
  }
}

.sidebar {
  overflow-y: scroll;
  background-color: var(--white);
  @media (min-width: $desktop) {
    min-width: $sidebar;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.filterContainer {
  padding: 0 var(--page-shell-padding) var(--page-shell-padding);
  color: #fff;
  background-color: var(--background);
  display: none;
  @media (min-width: $desktop) {
    display: block;
    --background: var(--white);
    --text: $primary-purple;
    position: static;
    transform: translateX(0);
  }
}

.profiles {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--page-shell-padding));

  @media (min-width: $non-mobile) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
    @supports not (display: grid) {
      display: block;
    }
  }
  @media (min-width: $desktop) {
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
    grid-gap: 1.5rem;
    @supports not (display: grid) {
      display: block;
    }
  }
}

.filterCategoryTitle {
  font-size: 16px;
  font-weight: 600;
  font-family: $pt-mono;
  padding: 24px 0px 8px;
}

.paginationContainer {
  margin-top: var(--page-shell-padding);
  padding: var(--page-shell-padding) calc(var(--page-shell-padding) / 2)
    calc(var(--page-shell-padding) * 5.5);
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: $desktop) {
    padding: calc(var(--page-shell-padding) / 2);
  }
}

.pageNumberButton {
  font-size: 1rem;
  background-color: var(--background);
  border: none;
  padding: calc(var(--page-shell-padding) / 4);
  margin: calc(var(--page-shell-padding) / 8);
  font-family: $pt-mono;
  color: var(--text);
  line-height: 1;
  border-radius: 2px;
  color: #4571B1;
}

.pageNumberButton:disabled {
  font-weight: 400;
  --text: white;
  --background: var(--gray);
  background-color: #4571B1;
  color: #fff;
}

.pageNumberButton:not(:disabled) {
  cursor: pointer;
}

.pageNumberButton:hover:not(:disabled) {
  --background: var(--border-gray);
}
.pageNumberButton:focus:not(:disabled) {
  box-shadow: 0 0 0 1px var(--text);
  outline: none;
}

.arrow {
  font-family: sans-serif;
}

.paginationArrow {
  color: #4571B1;
  composes: arrow pageNumberButton;
}
.paginationArrow:disabled {
  display: none;
}

.filterButtonContainer {
  position: fixed;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);

  button {
    background-color: $primary-blue !important;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

[data-reach-dialog-content] {
  height: 100%;
  width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: $graphik;
  font-size: 16px;
}

.dialogHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  align-items: center;
  border-bottom: 1px solid var(--border-gray);
  h2 {
    text-align: center;
    font-weight: 400;
  }
}

.closeButton {
  height: 48px;
  width: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.dialogBody {
  padding: 0 16px 16px;
  overflow-y: scroll;
}

.closeButton:focus {
  outline: none;
  border-radius: 1px;
  box-shadow: inset 0 0 0 3px var(--background), inset 0 0 0 4px var(--text);
  text-decoration: none;
}

.dialogFooter {
  border-top: 1px solid var(--border-gray);
  padding: 16px;
  margin-top: auto;
  background-color: $primary-blue;
  
  > button {
    background-color: $primary-blue;
  }
}

.filterClear {
  margin-left: auto;
  font-size: 13px;
  font-family: "pitch sans web", monospace;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 6px;
  border: 0;
  background-color: white;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
    border-radius: 1px;
    box-shadow: var(--background) 0px 0px 0px 2px, var(--text) 0px 0px 0px 3px;
    text-decoration: none;
  }
}
