@import "../../styles/variables.scss";

.container {
  padding: var(--page-shell-padding);
  padding-bottom: 8px;
  font-family: $pt-mono;
  color: var(--text);
  background-color: transparent;
  position: relative;
}

.logo {
  display: block;
  width: 220px;
}

.links {
  padding-top: 24px;
  display: block;
  min-height: 70px;
}

.link {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  position: relative;
  border: none;
  padding: 8px 12px 7px 12px;
  border-radius: 8px;
  background-color: $primary-purple;
  font-family: $pt-mono;
  box-shadow: 0px 3px 0px 0px rgba(98, 107, 235, 0.4);
  margin: 0px 8px 2px 0px;
  transition: all 0.05s;
  &:hover {
    margin: 0px 8px 2px 0px;
    box-shadow: 0px 3px 0px 0px rgba(98, 107, 235, 0.6);
  }
}

.link:last-child::after {
  display: none;
}

.filterButton {
  @media (min-width: $desktop) {
    display: none;
  }
}

.social {
  position: absolute;
  right: 10px;
  top: 10px;

  svg {
    margin: 0 3px;
  }
}
