@import "../../styles/variables.scss";

.container {
  padding: var(--page-shell-padding);
  padding-bottom: 8px;
  font-family: $pt-mono;
  color: var(--text);
  background-color: $primary-blue;
  position: relative;
  width: 310px;
}

.links {
  color: #fff;
  padding-top: 24px;
  min-height: 70px;

  .separator {
    font-size: 10px;
    margin: 0 10px;
  }
}

.link {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #fff;
  position: relative;
  border: none;
}

.filterButton {
  @media (min-width: $desktop) {
    display: none;
  }
}

.titleContainer {
  color: #FFFFFF;
  font-weight: bold;

  .celebratingContainer {
    font-family: Sofia Pro;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h1 {
    font-family: Bennet Banner;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0.25px;
  }

}
