@import "../../styles/variables.scss";

.container {
  padding: var(--page-shell-padding);
  padding-bottom: 8px;
  font-family: $pt-mono;
  color: var(--text);
  background-color: $primary-blue;
  position: relative;
  width: 310px;
}

.links {
  color: #fff;
  padding-top: 24px;
  min-height: 70px;

  .separator {
    font-size: 20px;
    margin: 0 10px;
  }
}

.link {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #fff;
  position: relative;
  border: none;
  outline: none;

  &:focus {
    text-decoration: underline;
  }
}

header .link {
  &:focus {
    text-decoration: none;

    .titleContainer {
      border-bottom: 4px solid #fff;
    }
  }
}

.filterButton {
  @media (min-width: $desktop) {
    display: none;
  }
}

.titleContainer {
  color: #FFFFFF;
  font-weight: bold;
  border-bottom: 4px solid transparent;

  h1 {
    font-family: "bennet-banner", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0.25px;
    padding-bottom: 10px;
  }

  .celebratingContainer {
    font-family: $pt-mono;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
  }
}
